/* === Base Reset === */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* === Global Body === */
body {
  color: white;
  background-color: rgb(0, 0, 0);
  background-image: url(./dev.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 100;
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

/* === Navbar === */
#navbar {
  height: 100px;
  width: 100%;
  position: relative;
}

#navbar ul {
  font-size: 20px;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 30px;
}

#navbar a {
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
}

#navbar a:hover {
  color: rgb(230, 255, 3);
}

/* === Brand Name === */
#sivaganesh {
  font-weight: bolder;
  font-size: xx-large;
}

/* === Desktop positions (retain layout) === */
#home { position: relative; left: 400px; }
#about { position: relative; left: 300px; }
#projects { position: relative; left: 200px; }
#contact { position: relative; left: 100px; }

/* === About Me Section === */
#aboutme {
  position: relative;
  top: 0;
  left: 10px;
  padding: 50px 0;
}

#aboutme h1 {
  font-size: 100px;
  color: rgb(255, 0, 0);
  position: relative;
  top: 20px;
  left: 50px;
}

#aboutme p {
  font-size: 30px;
  color: rgb(226, 13, 173);
  position: relative;
  top: 30px;
  left: 80px;
  max-width: 900p
