*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: rgb(0, 0, 0);
}
#navbar{
    height: 100px;
    width: 100%;
    position: relative;
}
#navbar>ul{
    font-size: 20px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    position: relative;
    top: 30px;
}

#navbar>ul>#sivaganesh>a>li{
    color: rgb(255, 255, 255);
}
#navbar>ul>#home>a>li{
    color: white;
}
#navbar>ul>#about>a>li{
    color: white;
}
#navbar>ul>#projects>a>li{
    color: white;
}
#navbar>ul>#contact>a>li{
    color: white;
}

#navbar>ul>#sivaganesh>a>li:hover{
    color: blue;
}
#navbar>ul>#home>a>li:hover{
    color: blue;
}
#navbar>ul>#about>a>li:hover{
    color: blue;
}
#navbar>ul>#projects>a>li:hover{
    color: blue;
}
#navbar>ul>#contact>a>li:hover{
    color: blue;
}
a{
    text-decoration: none;
}
#sivaganesh{
    position: relative;
    left: 60px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}
#home{
    position: relative;
    left: 400px;
}
#about{
    position: relative;
    left: 300px;
}
#projects{
    position: relative;
    left: 200px;
}
#contact{
    position: relative;
    left: 100px;
}