*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: rgb(0, 0, 0);
    background-image: url(./dev.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 100;
    position: relative;
    top: 0px;
}
#navbar{
    height: 100px;
    width: 100%;
    position: relative;
}
#navbar>ul{
    font-size: 20px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    position: relative;
    top: 30px;
}

#navbar>ul>#sivaganesh>a>li{
    color: rgb(255, 255, 255);
}
#navbar>ul>#home>a>li{
    color: white;
}
#navbar>ul>#about>a>li{
    color: white;
}
#navbar>ul>#projects>a>li{
    color: white;
}
#navbar>ul>#contact>a>li{
    color: white;
}

#navbar>ul>#sivaganesh>a>li:hover{
    color: rgb(230, 255, 3);
}
#navbar>ul>#home>a>li:hover{
    color: rgb(255, 217, 0);
}
#navbar>ul>#about>a>li:hover{
    color: rgb(249, 253, 5);
}
#navbar>ul>#projects>a>li:hover{
    color: rgb(230, 255, 2);
}
#navbar>ul>#contact>a>li:hover{
    color: rgb(251, 255, 0);
}
a{
    text-decoration: none;
}
#sivaganesh{
    position: relative;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}
#home{
    position: relative;
    left: 400px;
}
#about{
    position: relative;
    left: 300px;
}
#projects{
    position: relative;
    left: 200px;
}
#contact{
    position: relative;
    left: 100px;
}

#aboutme{
    position: relative;
    top: 0px;
    left: 10px;
}
#aboutme>p{
    position: relative;
    top: 30px;
    left: 80px;
    font-size: 30px;
    color: rgb(226, 13, 173);
}
#aboutme>h1{
    font-size: 100px;
    position: relative;
    top: 20px;
    left: 50px;
    color: rgb(255, 0, 0);
}
img{
    height: 300px;
    width: 300px;
    z-index: 30;
    position: relative;
    top: 20px;
    opacity: 0.1;
    
}