*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: rgb(157, 209, 209);
}
#navbar{
    height: 100px;
    width: 100%;
    position: relative;
}
#navbar>ul{
    font-size: 20px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    position: relative;
    top: 30px;
}

#navbar>ul>#sivaganesh>a>li{
    color: rgb(255, 255, 255);
}
#navbar>ul>#home>a>li{
    color: white;
}
#navbar>ul>#about>a>li{
    color: white;
}
#navbar>ul>#projects>a>li{
    color: white;
}
#navbar>ul>#contact>a>li{
    color: white;
}

#navbar>ul>#sivaganesh>a>li:hover{
    color: blue;
}
#navbar>ul>#home>a>li:hover{
    color: blue;
}
#navbar>ul>#about>a>li:hover{
    color: blue;
}
#navbar>ul>#projects>a>li:hover{
    color: blue;
}
#navbar>ul>#contact>a>li:hover{
    color: blue;
}
a{
    text-decoration: none;
}
#sivaganesh{
    position: relative;
    left: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}
#home{
    position: relative;
    left: 400px;
}
#about{
    position: relative;
    left: 300px;
}
#projects{
    position: relative;
    left: 200px;
}
#contact{
    position: relative;
    left: 100px;
}
h1{
    font-size: 40px;
    position: relative;
    top: 100px;
    left: 100px;
}
#dot>h1{
    position: relative;
    top: 53px;
    left: 195px;
    color: red;
}
p{
    color: red;
    position: relative;
    top: 85px;
    left: 120px;
    font-size: 50px;
}
h2{
    position: relative;
    top: 115px;
    left: 100px;
    font-size: 90px;
}
img{
    height: 200px;
    width: 200px;
    position: relative;
    bottom: 100px;
    left: 920px;
    border-radius: 100px;
    box-shadow: 1px 1px 50px 5px rgb(16, 112, 20);
}
#resume{
    height: 30px;
    width: 100px;
    border: 2px solid red;
    position: relative;
    left: 100px;
    bottom: 60px;
    padding-top: 3px;
    padding-left: 8px;
}
#resume>a{
    color: white;
}
hr{
    position: relative;
    top: 109px;
    left: 20px;
    color: red;
}
#resume>a:hover{
    color: blue;
}